body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.box1 {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.box1-text h1 {
    font-size: 50px;
}
.box1-text p {
    color: gray;
}
.color-text {
    color: orange;
}
.box1-text {
    width: 50%;
    padding: 0 90px;
}
.btn {
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 5px;
}
.box1-img {
    width: 50%;
    padding: 0 90px 0 0;
}
.box1-img img {
    width: 100%;
    height: auto;
}