body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.box {
    display: flex;
}
.box1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.text-box h1 {
    font-size: 50px;
}
.text-box p {
    color: gray;
}
.color-text {
    color: orange;
}
.box1 .text-box {
    padding: 0 90px;
}
.btn {
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(orange, tomato);
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 5px;
}
.img-box, .text-box {
    width: 50%;
}
.box1 .img-box {
    padding: 0 90px 0 0;
}
.img-box img {
    width: 100%;
    height: auto;
}
.box2 {
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box2 .img-box {
    padding: 0 20px 0 90px;
}
.box2 .text-box {
    padding: 0 90px 0 60px;
}
.box2 .text-box h2{
    font-size: 40px;
}